/* ===== Tailwind Import ===== */
@import "tailwindcss";

/* ===== CSS Variables ===== */
:root {
  --background: white;
  --foreground: var(--color-neutral-800);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --page-width: 1200px;
}

.font-aboreto {
  font-family: var(--font-aboreto), cursive;
}

.font-source-sans {
  font-family: var(--font-source-sans), cursive;
}

@theme {
  --color-darkTurquoise-100: #d3dbd8;
  --color-darkTurquoise-200: #a7b7b1;
  --color-darkTurquoise-300: #7a948a;
  --color-darkTurquoise-400: #4e7063;
  --color-darkTurquoise-500: #224c3c;
  --color-darkTurquoise-600: #1b3d30;
  --color-darkTurquoise-700: #142e24;
  --color-darkTurquoise-800: #0e1e18;
  --color-darkTurquoise-900: #070f0c;
}

/* ===== Base Styles ===== */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-sans), sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .animate-slideInRight {
    animation: slideInRight 0.3s ease-out forwards;
  }

  .animate-slideOutRight {
    animation: slideOutRight 0.3s ease-in forwards;
  }

  .animate-scroll-vertical {
    animation: scroll-vertical 20s linear infinite;
  }

  .animate-scroll-vertical:hover {
    animation-play-state: paused;
  }

  .animate-wiggle {
    animation: wiggle 0.8s ease-in-out;
  }
}

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  15% {
    transform: rotate(-10deg) scale(1.1);
  }
  30% {
    transform: rotate(10deg) scale(1);
  }
  45% {
    transform: rotate(-8deg) scale(1.2);
  }
  60% {
    transform: rotate(8deg) scale(1);
  }
  75% {
    transform: rotate(-4deg) scale(1.1);
  }
  90% {
    transform: rotate(4deg) scale(1);
  }
}
